<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
    
    <!-- Custom CSS -->
    <style type="text/css">
        #header-container {
            padding-top: 5px; 
            padding-bottom: 5px; 
            border-bottom: 5px solid rgb(55, 58, 60);
        }
        
        #title-box {
            text-align: center; 
            display: inline-block;
        }
        
        #logo {
            margin-bottom: 0;
        }
        
        #sub-logo {
            font-size: 12px; margin-bottom: 0;
        }
        
        #logout-box {
            text-align: right;
        }
        
        .header-btn {
            border-radius: 0; 
            color: white; 
            background-color: rgb(55, 58, 60);
            margin-top: 7px;
        }
        .header-btn-container {
            display: inline-block;
        }
        .header-btn:hover {
            color: white;
        }
    </style>
    
    {% block css %}
    {% endblock %}
    
  </head>
  <body>
    <div id="header-container" class="container-fluid">
    	<div class="col-sm-5">
	    	<div id="title-box">
		    	<h3 id="logo" >psdCalc</h3>
		    	<p id="sub-logo">Power Spectral Density Calculator</p>
		    </div>
		</div>
		<div id="logout-box" class="col-sm-7">
            {% block demo_btn %}
            {% endblock demo_btn %}
            
            {% if user.is_authenticated %}
                <div class="header-btn-container">
                    <form method="POST" action="/logout/">
                        {% csrf_token %}
                        <input id="logout-btn" type="submit" class="btn header-btn" value="Logout">
                    </form>
                </div>
            {% endif %}
        </div>
	</div>
	{% block content %}
    {% endblock %}

    <!-- Load JS at the end so page renders faster -->
    <!-- jQuery first, then Bootstrap JS. -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>
    {% block js %}
    {% endblock %}
  </body>
</html>
