{% extends "base.html" %}

{% block css %}
    {{ block.super }}
    <style type="text/css">
        .row {
            margin-bottom: 20px;
        }
        .card-title {
            font-size: 18px; 
            text-align: center; 
            margin-bottom: 0;
        }
        .card-img-top {
            width: 100%;
            height: 350px;
        }
    </style>
{% endblock css %}

{% block demo_btn %}
    <div class="header-btn-container">
        <a href='/' class="btn header-btn">PSD Demo</a>
    </div>
{% endblock demo_btn %}

{% block content %}
    {{ block.super }}
	<br>
	<br>
	<div class="container">
        
        <div class="row">
            <div class="col-md-12">
                <p class="text-muted">
                    This page contains before and after samples of the front-end interface of the BioLINCC website.
                    I have been the primary developer in charge of doing the conversion into a mobile-friendly design layout.
                </p>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <a href="https://s3.amazonaws.com/jv-psdcalc/biolincc_old_1.png" target="_blank">
                        <img class="card-img-top" src="https://s3.amazonaws.com/jv-psdcalc/biolincc_old_1.png" alt="Before image 1">
                    </a>
                    <div class="card-footer">
                        <h4 class="card-title text-muted" >Before: Front Page</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <a href="https://s3.amazonaws.com/jv-psdcalc/biolincc_new_1.png" target="_blank">
                        <img class="card-img-top" src="https://s3.amazonaws.com/jv-psdcalc/biolincc_new_1.png" alt="After image 1">
                    </a>
                    <div class="card-footer">
                        <h4 class="card-title text-muted">After: Front Page</h4>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <a href="https://s3.amazonaws.com/jv-psdcalc/biolincc_old_2.png" target="_blank">
                        <img class="card-img-top" src="https://s3.amazonaws.com/jv-psdcalc/biolincc_old_2.png" alt="Before image 2">
                    </a>
                    <div class="card-footer">
                        <h4 class="card-title text-muted">Before: Request Comments Page</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <a href="https://s3.amazonaws.com/jv-psdcalc/biolincc_new_2.png" target="_blank">
                        <img class="card-img-top" src="https://s3.amazonaws.com/jv-psdcalc/biolincc_new_2.png" alt="After image 2">
                    </a>
                    <div class="card-footer">
                        <h4 class="card-title text-muted">After: Request Comments Page</h4>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <a href="https://s3.amazonaws.com/jv-psdcalc/biolincc_old_3.png" target="_blank">
                        <img class="card-img-top" src="https://s3.amazonaws.com/jv-psdcalc/biolincc_old_3.png" alt="Before image 3">
                    </a>
                    <div class="card-footer">
                        <h4 class="card-title text-muted">Before: Role Management Page</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <a href="https://s3.amazonaws.com/jv-psdcalc/biolincc_new_3.png" target="_blank">
                        <img class="card-img-top" src="https://s3.amazonaws.com/jv-psdcalc/biolincc_new_3.png" alt="After image 3">
                    </a>
                    <div class="card-footer">
                        <h4 class="card-title text-muted">After: Role Management Page</h4>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <a href="https://s3.amazonaws.com/jv-psdcalc/biolincc_old_4.png" target="_blank">
                        <img class="card-img-top" src="https://s3.amazonaws.com/jv-psdcalc/biolincc_old_4.png" alt="Before image 4">
                    </a>
                    <div class="card-footer">
                        <h4 class="card-title text-muted">Before: Sample Study Page</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <a href="https://s3.amazonaws.com/jv-psdcalc/biolincc_new_4.png" target="_blank">
                        <img class="card-img-top" src="https://s3.amazonaws.com/jv-psdcalc/biolincc_new_4.png" alt="After image 4">
                    </a>
                    <div class="card-footer">
                        <h4 class="card-title text-muted">After: Sample Study Page</h4>
                    </div>
                </div>
            </div>
        </div>
                  
	</div> <!-- end container -->
{% endblock content %}
