{% extends "base.html" %}

{% block css %}
    {{ block.super }}
    <style type="text/css">
        #msgs {
            margin-top: 10px;
        }
        .img-text {
            font-size: 12px;
        }
        #img-preview {
            width: 100%;
        }
        #compute-btn-container {
            text-align: center;
        }
    </style>
{% endblock css %}

{% block demo_btn %}
    <div class="header-btn-container">
        <a href='/frontend/' class="btn header-btn">Front-end Samples</a>
    </div>
{% endblock demo_btn %}

{% block content %}
    {{ block.super }}
	<br>
	<br>
	<div class="container">
		<div class="col-sm-6">
			<div class="card card-block">
				<h6 class="card-title">Select an Image:</h6>
				<select id="image-select" size="15" class="form-control">
                    <option id="loading-imgs" disabled>Loading images...</option>
				</select>
			</div>
			<div class="card card-block">
				<h6 class="card-title">Upload a New Image:</h6>
				<form>
					<input id="upload-image" type="file" class="form-control-file">
					<button id="reset-upload" type="reset" style="display: none;"></button>
				</form>
                <div id="msgs"></div>
			</div>
		</div>

		<div class="col-sm-6">
			<div class="card">
				<div class="card-block">
					<h6 class="card-title">Selected Image:</h6>
					<p class="card-subtitle text-muted img-text">
						The image has been scaled for this preview. The original image will be used
						for the calculations.
					</p>
				</div>
				<img id="img-preview" src="https://s3.amazonaws.com/jv-psdcalc/no_img.png" alt="image preview">
				<div id="compute-btn-container" class="card-block">
					<button id="compute-psd" type="button" class="btn btn-primary">Compute PSD</button>
				</div>
			</div>
		</div>

	</div>
{% endblock content %}

{% block js %}
    {{ block.super }}
    <script>
    	$(document).ready(function() {
            
            // This method retrieves a cookie with the specified name
            // from the browser's cookie store.
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
            
            // Retrieve the CSRF cookie set by the Django App
            var csrftoken = getCookie('csrftoken');

            // This function returns whether the corresponding HTTP method
            // requires CSRF protection.
            function csrfSafeMethod(method) {
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }
            
            // Configure the Ajax XHR requests to have the CSRF token included
            // in the request header if the Ajax method being used requires it.
            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });
            
            // This method publies a message (success or error) to the message element
            // inside the upload a new image box.
            function publish_upload_msg(msg, is_error) {
                
                var upload_msg = '';
                
                if (!is_error) {
                    upload_msg = '<p style="color: green;">' + msg + '</p>';
                    $("#msgs").append(upload_msg);
                } else {
                    upload_msg = '<p style="color: red;">' + msg + '</p>';
                    $("#msgs").append(upload_msg);
                }
            }
            
            // This function deletes upload success/error messages
            function clear_upload_msg() {
                $('#msgs').empty();
            }
            
            // This button resets the state of the "Choose File" button
            // in the upload a new image box so that the user can submit 
            // a new file
            function reset_upload_btn() {
                $('#reset-upload').click();
            }

            // This method contacts the django app to get a signed upload id for the AWS S3 bucket,
            // to allow the file to be uploaded as a new item in this bucket.
    		function get_signed_upload(file) {
			    var xhr = new XMLHttpRequest();
			    xhr.open("GET", "/psdcalc/sign_upload?file_name="+file.name+"&file_type="+file.type);
                xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
                xhr.onload = function() {
		            if(xhr.status === 200) {
		                var response = JSON.parse(xhr.responseText);
                        // Upload the image to the correct S3 bucket
		                upload_img(file, response.signed_request, response.amzn_filename, response.url);
		            }
		            else {
                        publish_upload_msg("Could not upload file.", true);
                        reset_upload_btn();
		            }
			    };
                xhr.onerror = function() {
                    publish_upload_msg("Could not upload file.", true);
                    reset_upload_btn();
                };
			    xhr.send();
			}
            
            // This method uses the S3 signature to send the actual file to S3,
            // and then calls a method to update the file's metadata in the django app.
			function upload_img(file, signed_request, amzn_filename, url) {
			    var xhr = new XMLHttpRequest();
			    xhr.open("PUT", signed_request);
			    xhr.setRequestHeader('x-amz-acl', 'public-read');
                xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
			    xhr.onload = function() {
			        if (xhr.status === 200) {
                        finalize_upload(file.name, file.type, amzn_filename, url);
                    } else {
                        publish_upload_msg("Could not upload file.", true);
                        reset_upload_btn();
                    }
			    };
			    xhr.onerror = function() {
                    publish_upload_msg("Could not upload file.", true);
			        reset_upload_btn();
			    };
			    xhr.send(file);
			}

            // Once the file has been uploaded to S3, this file updates the metadata of
            // the file in the django app.
            function finalize_upload(file_name, mime_type, amzn_filename, url) {
                $.post(
                    "/psdcalc/finalize_upload/",
                    {
                        'file_name': file_name,
                        'amzn_filename': amzn_filename,
                        'mime_type': mime_type,
                        'url': url,
                    })
                    .done(function(data) {   
                        var thumbnail_url = data['thumbnail'];
                        get_images(function() {
                            select_image(thumbnail_url);
                        });
                        publish_upload_msg("Upload completed.", false);
                        window.setTimeout(clear_upload_msg, 3000);
                        reset_upload_btn();
                        
                    })
                    .fail(function(data) {
                        publish_upload_msg("Could not upload file.", true);
			            reset_upload_btn();
                    });
            }
            
            // This function selects the image with the passed-in thumbnail url
            // in the select box.
            function select_image(thumbnail_url) {
                var $option = $("#image-select > option[data-thumbnail='"+ thumbnail_url +"']");
                $option.attr('selected', true);
                $("#image-select").trigger('change');
            }
            
            // This method tells the server to compute the power spectral density of the selected image.
            function compute_psd(amzn_url) {
                $.post(
                    "/psdcalc/compute_psd/",
                    { 'amzn_url': amzn_url }
                )
                    .done(function(data) {
                        var psd_url = data['psd_url'];
                        var $compute_psd_btn = $("#compute-psd");
                        $("#image-select > option:selected").data("psd", psd_url);
                        $compute_psd_btn.text("Download PSD");
                        $compute_psd_btn.attr('disabled', false);
                    })
                    .fail(function(data) {
                        console.log('6');
                        alert("Error: PSD could not be calculated.");
                    });
            }

            // This method updates the preview image of the file.
            function update_image_select_field(images, callback) {
                var img_select = $("#image-select");

                if (images.length === 0) {
                    img_select.empty();
                    img_select.append('<option disabled>No images have been uploaded.</option>');
                } else {
                    var append_options = '';
                    for (var i = 0; i < images.length; i++) {
                        var curr_img = images[i];
                        append_options += '<option ' +
                            'data-thumbnail="' + curr_img['thumbnail'] + '" ' +
                            'data-url="' + curr_img['url'] + '" ' +
                            'data-psd="' + curr_img['psd'] + '" ' +
                            '>' +
                            curr_img['filename'] +
                            '</option>';
                        img_select.empty();
                        img_select.append(append_options);
                    }
                    
                    if (callback !== undefined) {
                        callback();
                    }
                }
            }

            // This method returns a list of available images that have been uploaded.
            function get_images(callback) {
                var img_select = $("#image-select");
                img_select.empty();
                img_select.append('<option disabled id="#loading-imgs">Loading images...</option>');
                $.get("/psdcalc/get_images/")
                    .done(function(data) {
                        var images = JSON.parse(data);
                        update_image_select_field(images, callback);
                    })
                    .fail(function() {
                        console.log('7');
                        img_select.empty();
                        img_select.append('<option disabled>Unable to load images</option>');
                    });
            }

            $("body").on('change', '#image-select', function() {
                
                var $selected_optn = $(this).find('option:selected');
                var thumbnail_url = $selected_optn.data("thumbnail");
                
                $("#img-preview").attr("src", thumbnail_url);

                var psd_url = $selected_optn.data("psd");
                var $compute_psd_btn = $("#compute-psd");

                if (psd_url !== '') {
                    $compute_psd_btn.text('Download PSD');
                    $compute_psd_btn.attr('disabled', false);
                } else {
                    $compute_psd_btn.text('Compute PSD');
                    $compute_psd_btn.attr('disabled', false);
                }
            });
            
            // This event handler activates/deactivates the Compute PSD button depending
            // on whether a PSD has been previously calculated for the image or not.
            $("#compute-psd").on('click', function(event) {
                
                event.stopPropagation();
                event.preventDefault();
                
                var $selected_optn = $("#image-select").find('option:selected');
                var psd_url = $selected_optn.data("psd");
                var url = $selected_optn.data("url");
                
                if (psd_url !== undefined && psd_url !== '') {
                    $('<a href="' + psd_url + '" target="_blank" download="psdcalc.jpg"></a>')[0].click();
                    return;
                } else {
                    $(this).prop('disabled', true);
                    $(this).text('Computing PSD...');
                    compute_psd($selected_optn.data("url"));
                }
            });
            
            // This event handler takes care of processing new image to upload. It checks
            // that the image is under a specified size (1 MB), and that it has the correct
            // format (png, jpeg/jpg, gif).
    		$("body").on("change", "#upload-image", function() {
                clear_upload_msg();
    			var maxFileSize = 1 * 1024 * 1024; // 1 MB max file size
    			var allowedFileTypes = ["image/png", "image/jpeg", "image/png"];
		        var files = document.getElementById("upload-image").files;
		        var file = files[0];
		        if (file == null) {
		            publish_upload_msg("No file selected.", true);
		            reset_upload_btn();
		        } else if (file.size > maxFileSize) {
		            publish_upload_msg("Files cannot be greater than 2 MB in size.", true);
		            reset_upload_btn();
		        } else if (allowedFileTypes.indexOf(file.type) === -1) {
		        	publish_upload_msg("Invalid format. You may only upload images in JPEG, GIF, or PNG format.", true);
		        	reset_upload_btn();
		        } else {
                    // Get the signed S3 credentials to upload the image
		        	get_signed_upload(file);
		        }
	    	});

            // Load the images when the page first loads.
            get_images();

            // On page load, want the compute psd button to be disabled since
            // no image has been selected.
            $("#compute-psd").attr('disabled', true);
        });
    </script>
{% endblock js %}
