{% extends "base.html" %}

{% block css %}
    {{ block.super }}
    <style type="text/css">
        .error {
            color: red;
        }
    </style>
{% endblock css %}

{% block content %}
    {{ block.super }}
	<br>
	<br>
	<div class="container">
		<div class="col-sm-offset-3 col-sm-6">
			<div class="card card-block">
				<h6 class="card-title">Login</h6>
				<form method="POST" action="{% url 'login' %}">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <label for="username">Username</label>
                        <input type="text" id="username" name="username" class="form-control">
                    </fieldset>
                    <fieldset class="form-group">
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" class="form-control">
                    </fieldset>
                    {% if error_msg %}
                        <p class="error">{{ error_msg }}</p>
                    {% endif %}
                    <input type="submit" class="btn btn-primary" value="Submit">
                </form>
			</div> <!-- end card -->
		</div> <!-- col-sm-6 -->
	</div> <!-- end container -->
{% endblock content %}
